:root {
    /* Primary Colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    
    /* Neutral Colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --white: #ffffff;
    
    /* Width Variables */
    --width: 490px;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-image: url(/img/pattern-background-desktop.svg);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background: var(--white);
    width: var(--width);
    padding: 20px;
    border-radius: 2%;
}

/* Utility Styling */
.btn {
    text-decoration: none;
}

.btn-large {
    padding: 10px;
    background: var(--bright-blue);
    color: var(--very-pale-blue);
    border-radius: 10px;
}

.btn-small {
    
}

/* Card 1 Styling */
.card-1 {
    text-align: center;
}

.card-1 p {
    color: var(--desaturated-blue);
}

.card-1 img {
    size: 100%;
    border-radius: 20px 20px 0px 0px;
}
/* Card 2 Styling */
.card-2 {
    background: var(--very-pale-blue);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.card-2 a {
    align-self: center;
    font-weight: 700;
}
/* Card 3 Styling */
.card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}